<% content_for :title do %>theCO Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/theco-logo.png" style="background-color:#fff"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="total-members" data-view="Graph" data-title="Members" data-moreinfo="last month" style="background-color:#6cb8a5;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="new-members" data-view="Graph" data-title="New Members" data-moreinfo="last month" style="background-color:#6cb8a5;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="coffee" data-view="Number" data-title="Coffee" data-moreinfo="In gallons" style="background-color:#6cb8a5;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#333;"></div>
      <!-- <i class="fa fa-clock-o icon-background"></i> -->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mentoring" data-view="Number" data-title="Mentoring" data-moreinfo="hours last month" style="background-color:#6cb8a5;"></div>
    </li>

  </ul>
  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
